// vars
$primery-color: #08526D;
$secondery-color: #EC1C23;
// tools
*{
    box-sizing: border-box;
} 

// Start upper bar
.upper-bar {
    background-color: $primery-color;
    color: #fff;
    padding: 15px;

    span {
        color: #bfc6c9;
    }

    .getQ {
        border: 1px solid $secondery-color;
        display: inline-block;
        margin-left: 20px;
        padding: 2px 10px;
    }

    i {font-size: 14px;}

}
// End upper bar

// Start navbar
.navbar {
    
    .navbar-brand {
        
        span {
            font-size: 40px;

            &:first-child {color: $primery-color;font-weight: bold;}
            &:last-child {color: $secondery-color;}
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 16;
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 20px;
            }
            &.active {
                .nav-link {
                    color: $secondery-color;
                }
            }
        }
    }
}
// End navbar

// Start silder
.slider {
    background-color: #DDD;

    .carousel-item {
        background-size: cover;
    }

    .carousel-one {
        background-image: url(../images/slider01.jpg);
    }

    .carousel-tow {
        background-image: url(../images/slider02.jpg);
    }

    .carousel-three {
        background-image: url(../images/slider03.jpg);
    }
}
// End silder