* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overview h2, .featured-work h2, .latest-posts h2, .pricing-table h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.overview p, .featured-work P, .latest-posts .section-decrption, .pricing-table .section-decrption {
  font-size: 20px;
  line-height: 1.6;
  width: 80%;
  margin: 0 auto 15px;
  color: #6a6a6a;
}

.overview button, .pricing-table .card-link, .chose-us .col-xl-6:nth-child(2) .read-more, .contact-us a {
  background-color: #EC1C23;
  color: #fff;
  border: 1px solid #EC1C23;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.slider .carousel-inner .overlay, .testimonials .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.navbar .navbar-brand span, footer .site-info span {
  font-size: 40px;
}

.navbar .navbar-brand span:first-child, footer .site-info span:first-child {
  color: #08526D;
  font-weight: bold;
}

.navbar .navbar-brand span:last-child, footer .site-info span:last-child {
  color: #EC1C23;
}

.upper-bar {
  background-color: #08526D;
  color: #fff;
}

.upper-bar .info {
  margin: 15px 0;
}

.upper-bar span {
  color: #bfc6c9;
}

.upper-bar .getQ {
  border: 1px solid #EC1C23;
  display: inline-block;
  margin-left: 20px;
  padding: 2px 10px;
}

.upper-bar i {
  font-size: 14px;
}

@media (max-width: 576px) {
  .upper-bar .info:first-of-type {
    margin: 15px 0 0;
  }
  .upper-bar .getQ {
    border: none;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  color: #EC1C23;
}

.slider {
  background-color: #DDD;
}

.slider .carousel-indicators li {
  height: 8px;
  cursor: pointer;
}

.slider .carousel-inner h1 {
  position: absolute;
  color: #fff;
  z-index: 3;
  font-size: 70px;
  max-width: 900px;
  line-height: 1.5;
  left: 100px;
}

.slider .carousel-inner h1 span {
  background-color: #EC1C23;
  color: #fff;
  display: inline-block;
  padding: 2px 10px;
}

.slider .carousel-inner .carousel-item {
  background-size: cover;
}

.slider .carousel-inner .carousel-one {
  background-image: url(../images/slider01.jpg);
}

.slider .carousel-inner .carousel-tow {
  background-image: url(../images/slider02.jpg);
}

.slider .carousel-inner .carousel-three {
  background-image: url(../images/slider03.jpg);
}

@media (max-width: 768px) {
  .slider .carousel-inner h1 {
    left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    font-size: 35px;
    left: 10px;
    top: 10px;
  }
}

.features {
  padding: 50px 0;
}

.features i {
  background-color: #EC1C23;
  color: #fff;
  margin-bottom: 10px;
  width: 58px;
  height: 58px;
  line-height: 60px;
}

.features h3 {
  color: #08526D;
  font-size: 22px;
}

.features p {
  color: #989898;
  margin-bottom: 40px;
}

.overview {
  padding: 100px 0;
  background-color: #F0F5F7;
}

.overview p {
  line-height: 2;
}

.overview h4 {
  letter-spacing: 2px;
  font-weight: normal;
  color: #8b8a8a;
  margin-bottom: 40px;
}

.overview button {
  cursor: default;
}

.featured-work {
  padding: 100px 0;
}

.featured-work ul {
  margin-top: 40px;
  margin-bottom: 50px;
}

.featured-work ul li {
  color: #08526D;
  border: 2px solid #08526D;
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.featured-work ul li.active, .featured-work ul li:hover {
  background-color: #EC1C23;
  color: #fff;
  border-color: #EC1C23;
}

.featured-work .shuffle-images .row {
  margin: 0;
}

.featured-work .shuffle-images .col-md {
  padding: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.featured-work .shuffle-images .col-md img {
  width: 100%;
}

.latest-posts {
  padding: 0 0 100px;
}

.latest-posts .section-decrption {
  margin-bottom: 45px;
}

.latest-posts .card {
  color: #787878;
  margin-bottom: 30px;
}

.latest-posts .card-title {
  font-size: 20px;
  line-height: 1.5;
  color: #08526D;
}

.latest-posts .card-link {
  color: #EC1C23;
  font-weight: bold;
}

.testimonials {
  background-image: url(../images/testimonial.jpg);
  background-size: cover;
  position: relative;
}

.testimonials .container {
  z-index: 3;
  position: relative;
}

.testimonials .carousel-caption {
  top: 20%;
}

.testimonials .carousel-caption img {
  margin-bottom: 20px;
}

.testimonials .carousel-caption h3 {
  margin-bottom: 10px;
}

.testimonials .carousel-caption span {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 30px;
}

.testimonials .carousel-caption p {
  font-size: 17px;
}

.testimonials .carousel-indicators li {
  height: 8px;
  cursor: pointer;
}

.pricing-table {
  padding: 100px 0;
  background-color: #F7F7F7;
}

.pricing-table .section-decrption {
  margin-bottom: 45px;
}

.pricing-table .card {
  color: #787878;
  margin-bottom: 30px;
}

.pricing-table .card-title {
  font-size: 25px;
  line-height: 1.5;
  color: #08526D;
  margin-top: 40px;
}

.pricing-table .card-text {
  margin: 20px 0;
  font-size: 30px;
  color: #08526D;
  padding: 10px;
  font-weight: bold;
}

.pricing-table .card-text span {
  font-size: 15px;
  font-weight: bold;
}

.pricing-table .card-link {
  color: #fff;
  font-weight: bold;
}

.pricing-table .card ul {
  margin-bottom: 20px;
}

.pricing-table .container div:nth-child(2) .card {
  position: relative;
  top: -20px;
}

.pricing-table .container div:nth-child(2) .card .card-text {
  background-color: #EC1C23;
  color: #fff;
}

.pricing-table .container div:nth-child(2) .card .card-link {
  background-color: #08526D;
  color: #fff;
  border: 1px solid #08526D;
}

.chose-us .col-xl-6:nth-child(1) {
  padding: 0;
}

.chose-us .col-xl-6:nth-child(1) img {
  max-width: 100%;
}

.chose-us .col-xl-6:nth-child(2) {
  background-color: #08526D;
  color: #fff;
  padding: 30px 0px;
}

.chose-us .col-xl-6:nth-child(2) h2 {
  font-size: 40px;
  color: #fff;
  margin: 40px;
}

.chose-us .col-xl-6:nth-child(2) p {
  font-size: 18px;
  line-height: 2;
  margin: 40px;
}

.chose-us .col-xl-6:nth-child(2) .read-more {
  text-transform: uppercase;
  margin: 10px 0 10px 40px;
  font-size: 20px;
}

.stats {
  padding: 100px 0;
  color: #08526D;
}

.stats .row > div {
  margin-bottom: 40px;
}

.stats span {
  display: block;
  font-size: 50px;
  font-weight: bold;
}

.stats p {
  font-size: 20px;
  margin: 0;
  color: #EC1C23;
}

.contact-us {
  padding: 80px 0;
  background-color: #EC1C23;
  color: #fff;
  font-size: 22px;
}

.contact-us p {
  margin: 0;
}

.contact-us a {
  border: 2px solid #fff;
  padding: 6px 15px 8px;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  padding: 100px 0;
}

footer .site-info span {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 35px;
}

footer .site-info span:last-of-type {
  color: #EC1C23;
}

footer .site-info p {
  line-height: 1.8;
  color: #727272;
}

footer .site-info a {
  color: #08526D;
  font-weight: bold;
  font-size: 17px;
  padding-top: 10px;
}

footer .site-info a::before {
  content: "\f138";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}

footer .helpfulinks .row {
  margin-top: 60px;
}

footer .helpfulinks h2 {
  font-size: 22px;
  color: #08526D;
  padding: 10px;
}

footer .helpfulinks ul li::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  background: #08526D;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  line-height: 7px;
}

footer .helpfulinks .list-unstyled {
  line-height: 1.7;
}

footer .cont-act h2 {
  font-size: 22px;
  color: #08526D;
  padding: 10px;
}

footer .cont-act ul {
  margin-top: 60px;
}

footer .cont-act ul li:not(last-child) {
  margin-bottom: 30px;
}

.copyright {
  padding: 20px;
  border-top: 1px solid #c0c0c0;
}

.copyright .sucial {
  font-size: 20px;
  cursor: pointer;
  color: #787878;
}

.copyright .sucial i {
  padding: 5px;
}

.copyright .sucial i:hover {
  color: #504747;
}

@media (max-width: 576px) {
  .overview h2, .featured-work h2, .latest-posts h2, .pricing-table h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .overview p, .featured-work P, .latest-posts .section-decrption, .pricing-table .section-decrption {
    width: 100%;
    padding: 5px;
    line-height: 1.8;
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */